/* Header.css */

.header {
  background-color: #333; /* 배경색 설정 */
  color: #fff; /* 글자색 설정 */
  padding: 10px 0; /* 상하 여백 설정 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin-left: 30px;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px; /* 로고 이미지 크기 설정 */
  height: 40px;
  margin-right: 10px; /* 로고와 텍스트 사이 여백 설정 */
}

.nav ul {
  list-style-type: none; /* 리스트 스타일 제거 */
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline; /* 리스트 항목을 수평으로 배치 */
  margin-right: 20px; /* 메뉴 항목 사이 여백 설정 */
}

.nav a {
  text-decoration: none; /* 링크에 밑줄 제거 */
  color: #fff; /* 메뉴 글자색 설정 */
  font-weight: bold; /* 메뉴 글꼴 굵기 설정 */
  transition: color 0.3s; /* 메뉴 글자색 변경 시 부드러운 효과 설정 */

  /* 호버(마우스 오버) 시 색상 변경 */
  &:hover {
    color: #ff5733; /* 호버 시 글자색 변경 */
  }
}
